.FishList {
    /* border: 2px solid blue; */
    margin: 0 0 0 0;
    padding: 30px;
    --n: 3; /* number of rows*/
    --m: 4; /* number of columns */
    --g: 20px; /* control the gap */
    --f: 1.5; /* control the scale factor */
    display: grid;
    gap: var(--g);
    width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
    height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
    grid-template-columns: repeat(var(--m), auto);
}

.FishListItem {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    height: 4rem;
    background-color: rgb(0, 0, 70);
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    color: white;
}

.FishListItem:hover {
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px rgb(0, 119, 255),   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px rgb(0, 4, 255),  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px rgb(0, 13, 255),        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
    transition: all 0.25s ease-in-out
}

