.RandomFishContainer {
    /* border: 2px solid red; */
    font-size: 2rem;
    width: 80%;
    height:75vh;
    /* background-color: rgba(255, 255, 255, 0.58); */
    padding: 0px 20px 20px 20px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    overflow-y: scroll;
    animation: changeBgRand 5s infinite; 
    border-radius: 1rem;
}

@keyframes changeBgRand {
    0%,100%  {background-color: rgba(112, 212, 255, 0.53);;}
    50% {background-color: rgba(90, 181, 250, 0.53);;}
 }


.RandomFishHeader {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#RF1 {
    font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .RandomFishContainer {
        font-size: 1.7rem;
    }
}