.FishContentContainer {
    border: 2px solid red;
    font-size: 2rem;
    width: 95%;
    
    /* height:48vw; */
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}