.FishBoxModalContainer {
    /* border: 2px solid red; */
    font-size: 2rem;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.FishBoxModalBox {
    border: .05rem solid rgb(0, 0, 0);
    width: 70vw;
    height: 50vh;
    box-shadow: inset 0 0 2rem 1rem rgb(10, 0, 71);
    background: url(../../../public/Images/Img3.jpg) rgba(75, 168, 255, 0.25) no-repeat center center fixed;
    /* background-size: cover; */
    background-blend-mode: multiply;
}

.FishBoxModalBox2 {
    /* width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, .2); */
}

.ModalHeader {
    /* border: 2px solid red; */
    padding: 1.4rem 1.4rem 0px 1.4rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    margin: 0;
}

.ModalBody {
    /* border: 2px solid red; */
    padding: 0 1.4rem 1.4rem 1.4rem;
}

.CloseModal {
    margin: 0;
    height: 25px;
    width: 25px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}